html {
  height: 100%;
  font-size: 13px !important;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  line-height: normal;
}

body {
  margin: 0;
  overflow: hidden;
}

h4 {
  color: #B88766;
  margin-bottom: 10px;
}

table, .form-control, .col-form-label-sm {
}

.appFullPage {
  bottom: 0;
  display: flex;
  flex-direction: column;
  left: 0;
  overflow: auto;
  position: absolute;
  right: 0;
  top: 0;
}

.mainLayer {
  display: flex;
  flex: 1 1 0;
  min-height: 1px;
}

.appContent {
  display: flex;
  flex: 1;
  flex-direction: column;
  /*min-width: 768px;*/
  position: relative;
}

.header {
  align-items: center;
  background: #B88766;
  color: white;
  padding-bottom: 0;
  padding-left: 10px;
  padding-right: 10px;
  border-bottom: 1px solid #e8ecee;
  display: flex;
  flex-shrink: 0;
  /*min-height: 64px;*/
  position: relative;
  z-index: 200;
}

.nav-link {
  font-size: 13px;
  /*font-weight: 400;*/
  color: white;
  cursor: pointer;
  border-bottom: solid 2px #B88766;
}

.nav-link:hover {
  /*color: #9f6138 !important;*/
  border-bottom: solid 2px white;
  color: white !important;
}

.nav-link-2 {
  font-size: 13px;
  font-weight: 400;
  color: #B88766;
  cursor: pointer;
  text-decoration: none;
}

.nav-link-2:hover {
  color: #9f6138 !important;
}

.logo-div {
  font-weight: bold;
  /*font-family: fantasy;*/
  font-family: sans-serif;
  font-size: 16px;
  padding-top: 8px;
  color: white;
  align-self: center;
  /*width: 120px;*/
  /*height: 48px;*/
  margin-left: 10px;
  margin-right: 10px;
  /*background-color: #9f6138;*/
  /*padding-left: 10px;*/
}

.active {
  /*color: #9f6138;*/
  background-color: #9f6138;
  border-bottom: solid 2px #9f6138 !important;
  /*box-shadow: inset 0 -1px 2px white;*/
}

.active1 {
  color: #9f6138;
  box-shadow: inset 0 -1px #B88766;
}

#navRight {
  margin-left: auto;
}

.dataContainer {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  min-height: 1px;
  position: relative;
}

.pageToolbar {
  align-items: center;
  background-color: #fff;
  display: flex;
  flex: 0 0 auto;
  height: 40px;
  padding-left: 5px;
  padding-right: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  justify-content: space-between;
  z-index: 300;
}

.tableAndForm {
  display: flex;
  flex-direction: row;
  overflow: auto;
  position: relative;
  flex: 1 1 0;
  padding: 5px 5px 5px 5px;
}

.tbl {
  align-self: stretch;
  flex: 1 1 0;
  overflow-x: auto;
  align-items: stretch;
}

.frm {
  margin-left: 5px;
  display: flex;
  width: 400px;
}

.pageDataHeader {
  font-size: 18px;
  align-self: center;
  color: #b88766
}

.selectedTableRow {
  background-color: #6697b86b !important;
  -webkit-transition: all 500ms linear;
}

.newMonth {
  border-bottom: 5px rgba(184, 135, 102, 0.4) solid !important;
}

.newYear {
  border-top: 5px rgba(184, 135, 102, 0.4) solid !important;
}

.btn-outline-secondary,
.btn-secondary,
.btn-primary {
  background-color: white;
  border-color: #b88766;
  color: #b88766;
}

.btn-primary:disabled,
.btn-primary[disabled] {
  background-color: white;
  border-color: #b88766;
}

.btn-outline-primary:hover,
.btn-outline-secondary:hover,
.btn-primary:hover,
.btn-primary[hover],
.btn-outline-primary[hover] {
  background-color: #b88766;
}

.btn-outline-primary.active,
.btn-primary.active {
  background-color: #b88766;
  color: white;
}
.btn-outline-primary.active,
.btn-primary.active i {
  color: white;
}

.btn-primary:hover i,
.btn-primary[hover] i {
  color: white;
}


.form-control, .form-control-sm, .form-select {
  border-color: #b88766;
}

.input-group-text {
  background-color: #b88766;
  border-color: #b88766;
}

.btn-primary:hover {
  border-color: #b88766;
}

.btn-outline-primary {
  color: #b88766;
  border-color: #b88766;
}

.btn-outline-primary:hover, .btn-outline-primary:active {
  background-color: #b88766 !important;
  color: white;
  border-color: #b88766;
}

.btn-icon {
  color: #b88766;
}

.btn-link {
  color: #b88766;
}

.btn-link:hover {
  color: #b88766;
}

.dataTable {
  display: inline-table;
  border-collapse: separate;
  border-spacing: 0;
  position: relative;
  table-layout: fixed;
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  border-left: 1px solid rgba(0, 0, 0, 0.125);
  border-right: 1px solid rgba(0, 0, 0, 0.125);
}

.dataTable tr {
  cursor: pointer;
}

.trRow td {
  border-bottom: 1px solid rgba(184, 135, 102, 0.4);
  vertical-align: baseline;;
}

.trRow.newMonth td {
  border-bottom: 4px rgba(184, 135, 102, 0.4) solid !important;
}

.dataTable th {
  font-weight: 400;
  background-color: white;
  color: #9f6138;
  padding: 8px 4px 8px 12px;
  z-index: 200;
  border-bottom: 3px solid rgba(184, 135, 102, 0.4);
  border-top: 1px solid rgba(0, 0, 0, 0.125);
  vertical-align: baseline;
}

.dataTable tr {
  cursor: pointer;
  color: #444444;
  z-index: 200;
}

.dataTable tr:nth-child(odd) {
  background-color: #fcf9f8;
}

.dataTable tr:hover {
  background-color: #6697b8c7;
}

.dataTable tbody {
  background-color: white;
}

.dataTable td {
  padding: 8px 4px 8px 12px;
  font-weight: normal;
}

.dateCol {
  width: 75px;
}

.accountCol {
  width: 130px;
}

.descriptionCol {
  width: 50%;
}

.categoryCol {
  min-width: 50px;
  width: 40%;
}

.businessCol {
  color: #B88766;
  margin-left: 0;
}

.amountCol {
  width: 100px;
  vertical-align: baseline;
  text-align: right;
}

#budgetForm td:nth-child(2) {
  width: 100px;
  text-align: right;
}

.amountCol {
  width: 100px;
  text-align: right;
}


.corn {
  padding: 10px !important;
  position: relative;
}

.corn:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  display: block;
  border-left: 10px solid transparent;
  border-bottom: 10px solid transparent;

  border-top: 10px solid #B88766;
}

#budgetFormContainer {
  width: 100%;
}

#budgetFormContainer .budgetFormHeader {
  text-align: center;
  color: #B88766;
  font-weight: bold;
  border-bottom: 1px solid #B88766;
  padding-bottom: 6px;
  margin-bottom: 5px;
}

#budgetForm tr:first-child td {
  margin-bottom: 10px;
  padding-bottom: 10px;
}

#budgetForm input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

#budgetForm input[type=number] {
  text-align: right;
}

.amountCol, .amountColBudget {
  vertical-align: baseline;
  text-align: right;
}

.amountColBudget {
  width: 70px;
}

.amountCol {
  width: 100px;
}

.budgetTotal {
  font-weight: 500 !important;
}

.otherCol {
  width: 60px;
  vertical-align: baseline;
}

.otherCol2 {
  width: 120px;
  vertical-align: baseline;
}

.otherColMeta {
  width: 80px;
  vertical-align: baseline;
}

.react-datepicker-wrapper {
  width: 100%;
}

.w100 {
  width: 100%;
}

.text-trim {
  line-height: 18px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.manual {
  color: #6685b8;
}

.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.scrollable-menu {
  height: auto;
  max-height: 400px;
  overflow-x: hidden;
}

.text-right {
  text-align: right;
}

#formContainer .navbar {
  padding-top: 0 !important;
  border-bottom: 1px solid #e8ecee;
}

.font-weight-bold {
  font-weight: 500 !important;
}

.formDataContainer {
  align-self: stretch;
  overflow-x: auto;
  align-items: stretch;
  overflow-y: auto;
  background-color: white;
  width: 250px;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 4px;
}

.formDataContainer1 {
  align-self: stretch;
  overflow-x: auto;
  align-items: stretch;
  overflow-y: auto;
  background-color: white;
  width: 600px;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 4px;
  padding: 10px;
}

.formContainer {
  padding: 10px 10px 10px 10px;
  width: 250px;
}

.fileIcon {
  font-size: 30px;
  color: #b88766;
  cursor: pointer
}

.fileDeleteIcon {
  font-size: 20px;
  margin-top: 4px;
  cursor: pointer
}

.tooltip-wrap {
  z-index: 999;
}

.icon {
  color: #B88766
}

.error {
  width: 100%;
  margin-top: .25rem;
  font-size: .875em;
  color: #dc3545;
}

#loginButton {
  height: 31px;
  margin: 10px 0 0 5px;
  padding: 0 22px;
  background-color: #B88766;
  color: white;
  width: 100%;
  font: 300 15px/29px 'Open Sans', Helvetica, Arial, sans-serif;
  cursor: pointer;
}

.fa-calculator {
  color: #B88766;
  font-size: 19px;
  cursor: pointer
}

.error500 .errorDiv {
  margin: 50px auto 0 auto;
  width: 600px;
}

.error500 h2 {
  float: left;
  font-size: 100px;
  font-weight: 300;
}

.error500 h3 {
  padding-top: 22px;
}

.error500 .errorContent {
  display: block;
  margin-left: 190px;
}

.authFooter {
  padding: 7px 14px 15px;
  border-bottom: 1px solid rgba(0, 0, 0, .1);
  background: rgba(248, 248, 248, .9);
}

.authFieldSet {
  display: block;
  padding: 25px 14px 5px;
  border: none;
  background: rgba(255, 255, 255, .9);
  position: relative;
}

.authLoginContainer {
  margin-top: 15px;
  border: 1px solid #ddd;
  background-color: #fbfbfb;
}

.authFormHeader {
  border-bottom: 1px dashed rgba(0, 0, 0, .2);
  background-color: #f7f7f7;
  font-size: 16px;
  font-weight: 300;
  color: #B88766;
  padding: 10px 14px 10px;
}

.introContainer {
  height: 422px;
  background-size: cover;
  /*background-image: url('/images/landing-page-background.jpg');*/
}

.introContainer h1 {
  margin-top: 15px;
  font-size: 24px !important;
  color: #B88766;
  text-align: center;
}

.introContainer h3 {
  text-align: center;
  margin-top: 27px;
}

.settingsModal {
  position: absolute;
  top: 55px;
  padding: 15px;
  border-left: 1px solid gainsboro;
  right: 0;
  bottom: 0;
  width: 380px;
  background-color: white;
}

.settingsOverlay {
  position: fixed;
  z-index: 500;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(211, 211, 211, 0.3);
}

.settingsContainer {
  display: flex;
  margin-bottom: 20px;
}

.settingCloseButton {
  margin-left: auto;
}

.settingsGroup {
  display: flex;
  margin-bottom: 20px;
  border: 1px solid gainsboro;
  border-radius: 15px;
  padding: 7px;
}

.settingGroupLabel {
  margin-bottom: auto;
  margin-top: auto;
}

.settingsGroupValue {
  margin-left: auto;
}

input[type="checkbox"]:checked {
  accent-color: #B88766;
}

button i {
  color: #b88766;
}
